
@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<h2 class="text-center" id="heading1">
    List of What was implemented

</h2>


<div class="row">
    <div class="col-sm-6 mb-6">
        <div class="card-header" style="background-color: darkcyan"> Asp.Net MVC 5 </div>
        <div class="card-body">
            <div>
                <h3 id="interest">Created sample project with Asp.Net MVC 5 </h3>
                <p>Used EF with Code First Approach, Also Bootsrap 5.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 mb-6">
        <div class="card-header" style="background-color: darkcyan"> List All Staff </div>
        <div class="card-body">
            <div>
                <h3 id="interest">Created a page with List of all staff </h3>
                <p>A page with the list of all staff was created call Viewall Page</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 mb-6">
        <div class="card-header" style="background-color: darkcyan"> CRUD Operations </div>
        <div class="card-body">
            <div>
                <h3 id="interest">Create a page for each CRUD Operation </h3>
                <p>
                    Created Pages for Create, Read, Update and Delete.
                    And Handled them with Ajax
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 mb-6">
        <div class="card-header" style="background-color: darkcyan"> Validationss </div>
        <div class="card-body">
            <div>
                <h3 id="interest">Calidations For Each Field </h3>
                <p>
                    Staff must have validation like required, valid email or not and there should be at least one image upload for staff image.
                    Validation Done through DataAnnotation in Metadata Page
                </p>
            </div>
        </div>
    </div>
</div>